<form method="post" action="{{ path('app_venue_delete', {'VenueId': venue.VenueId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ venue.VenueId) }}">
    <button class="btn header-btn" style="background-color: #3a0ca3; color: white">Delete</button>
</form>
